body {
    margin: 0;
}

nav {
    display: inline-block;
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-wrapper {
    padding: 5% 7%;
}
.header {
    background-color: hsl(217, 28%, 15%);
}
.navbar-wrapper .logo {
    float: left;
}
.navbar li {
    display: inline;
    padding: 15px;
  }
.navbar-link {
    text-decoration: none;
    color:grey;
}
.navbar-link:hover {
    text-decoration: underline;
    color: white;
}